@import "../../styles/variables.scss";

.noteCreator {
  display: flex;
  margin-left: $space-s;

  .plusButton {
    background-color: $color-white;
    color: $color-black;
    font-size: $space-l;
    transition: 0.3s;
    margin-right: $space-s;
  }
  .plusButton:hover {
    font-size: $space-l;
    transform: rotate(-90deg);
    transition: 0.3s;
  }
  @media (max-width: 425px) {
    display: block;
  }
}
