$color-black:#1b1b1b;
$color-white:#fff;
$color-cyan:#01d4fe;
$color-green:#e4ee90;
$color-orange:#ff9b72;
$color-yelow:#fec972;
$color-purple:#b692fe;
$color-gray:#eeeeee;

$space-xxs:4px;
$space-xs:8px;
$space-s:12px;
$space-m:24px;
$space-l:48px;
$space-xl:64px;
$space-xxl:128px;
$space-xxxl:256px;


$box-shadow: 0px 0px 14px -4px $color-black;

$border-radius: 16px;

$font-family:'Lato', sans-serif;