@import "../../styles/variables";

.home {
  display: block;
  align-items: center;
  justify-content: start;
  align-items: center;

  .aside {
    display: flex;
    align-items:center;
    justify-content:start;
    margin: $space-s;
    .logo {
      font-family: $font-family;
      font-weight: 700;
    }
  }
  @media (max-width: 425px) {
    .aside{
      display: block;
      align-items: center;
      justify-content: center;
    }
  }
}
