@import "../../styles/variables";

.containerCard {
  .containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -$space-s;

    .createNote {
      color: $color-white;
      border-radius: 10%;
      height: $space-m;
      width: $space-xl;
    }
    .cancelNote {
      color: $color-white;
      border-radius: 10%;
      height: $space-m;
      width: $space-xl;
    }
    :hover {
      box-shadow: $box-shadow;
    }
  }
  .card {
    min-height: $space-xxxl;
    
    border-radius: $space-m;
    padding: $space-m;
    margin: $space-m 0;
    text-align: center;
    color: $color-white;
    font-size: $space-m;
    :hover {
      cursor: pointer;
      box-shadow: $box-shadow;
      border: 2px solid $color-white;
    }
    @media (max-width: 425px) {
      width: 280px;
    }
  }
}
.cyan {
  background-color: $color-cyan;
}

.green {
  background-color: $color-green;
}

.orange {
  background-color: $color-orange;
}

.yelow {
  background-color: $color-yelow;
}

.purple {
  background-color: $color-purple;
}
