@import "../../styles/variables.scss";

.colorButton {
  border-radius: 50%;
  height: $space-m;
  width: $space-m;
  margin-bottom: $space-m;
  transition: 0.3s;
}
.colorButton:hover {
  box-shadow: $box-shadow;
  transition: 0.3s;
}

.cyan {
  background-color: $color-cyan;
}

.green {
  background-color: $color-green;
}

.orange {
  background-color: $color-orange;
}

.yelow {
  background-color: $color-yelow;
}

.purple {
  background-color: $color-purple;
}
