@import "../../styles/variables.scss";

.colorButton {
  margin: $space-s;
  border-radius: 50%;
  height: $space-m;
  width: $space-m;
  transition: 3s;
  :hover {
    box-shadow: $box-shadow;
  }
}

.cyan {
  background-color: $color-cyan;
}

.green {
  background-color: $color-green;
}

.orange {
  background-color: $color-orange;
}

.yelow {
  background-color: $color-yelow;
}

.purple {
  background-color: $color-purple;
}
