@import "../../styles/variables";

.container {
  /* border: 2px solid black; */
  height: 95vh;
  width: auto;
  .containerCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .containerButtons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: -$space-s;
      .confirmChanges {
        color: $color-white;
        border-radius: 10%;
        height: $space-m;
        width: $space-xl;
      }
      .deleteNote {
        color: $color-white;
        visibility: hidden;
        border-radius: $border-radius;
        height: $space-m;
        width: $space-m;
      }
    }
    .card {
      margin: $space-m;
      min-height: $space-xxxl;
      border-radius: $space-m;
      padding: $space-m;
      text-align: center;
      color: $color-white;
      font-size: $space-m;
      :hover {
        cursor: pointer;
        box-shadow: $box-shadow;
        border: 2px solid $color-white;
      }
      @media (max-width: 425px) {
        width: 280px;
      }
    }

    .cardTrue {
      transition: 0.3s;
      min-height: 80%;
      min-width: 60%;
      border-radius: $space-m;
      text-align: center;
      color: $color-white;
      font-size: $space-s;
    }
    .cyan {
      background-color: $color-cyan;
    }

    .green {
      background-color: $color-green;
    }

    .orange {
      background-color: $color-orange;
    }

    .yelow {
      background-color: $color-yelow;
    }

    .purple {
      background-color: $color-purple;
    }
    :hover {
      .deleteNote {
        visibility: visible;
      }
    }
  }
}
